# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore virtual environment files
venv/

# Ignore development and testing files
*.log
*.ini
*.env
*.sqlite

# Ignore version control files
.git/
.gitignore